@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #F1BD5A, #BFA29B);
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #59190286;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color:#591902;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(160, 136, 136);
    text-decoration:underline;
}
h2{
    color: #D93D04;

}
p{
    text-align: justify;
}