@charset "UTF-8";
body{
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: darkblue;
    background-color: rgb(144, 146, 228);
}
h2{
    color: darkred;
}
p{
    text-align: justify;
}
